.page-header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: #000;
  font-family: 'Raleway';

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.logo-accent {
  color: var(--accent-color);
}

.site-nav-list {
  display: flex;
  margin-left: 93px;
}

.site-nav-item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.site-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav-link.current {
  color: var(--accent-color);

  position: relative;

  &::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
}

.auth-nav-list {
  display: flex;
  margin-left: auto;
}

.auth-nav-item + {
  .auth-nav-item {
    margin-left: 50px;
  }
}

.auth-nav-link {
  display: flex;
  align-items: center;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.icon-mail {
  margin-right: 10px;
  fill: currentColor;

  &:hover {
    fill: currentColor;
  }
}

.icon-tel {
  margin-right: 10px;
  fill: currentColor;

  &:hover {
    fill: currentColor;
  }
}
